<ion-content>
    <div class="root">
        <div class="container">
            <div class="container-header">
                <img routerLink="/" class="logo" src="../../../assets/logo.svg" alt="">
                <p>Sorting Ceremony</p>
            </div>
            <div class="hat">
                <img class="hat-logo" src="../../../assets/sorting-hat/sorting-hat.webp" alt="">
            </div>
            <div class="content">
                <div class="content-inner">
                    <div class="content-header">
                        <img routerLink="/" class="logo" src="../../../assets/logo.svg" alt="">
                        <p>Sorting Ceremony</p>
                    </div>
                    <h1>Discover your Hogwarts House</h1>
                    <p class="desc">Don the Sorting Hat to be placed into your rightful Hogwarts house. The Sorting Hat's decision is final.</p>
                    <button routerLink="questions">START THE SORTING CEREMONY</button>
                </div>
            </div>
        </div>
    </div>
</ion-content>