<ion-content [fullscreen]="true">
  <div class="books-main">
    <div class="books-main-content">
      <h1>J.K. Rowling Originals</h1>
      <p>Explore the inner workings of the wizarding world with a collection of writing from J.K. Rowling</p>
    </div>
  </div>
  <div class="books">
    <div class="books-header">
      <div class="books-header-design">
        <hr>
        <div class="auth-diamond"></div>
        <hr>
      </div>
      <h1 class="books-header-title">Latest & greatest</h1>
      <div class="books-header-design">
        <hr>
        <div class="auth-diamond"></div>
        <hr>
      </div>
      <div  class="loader" *ngIf="!isLoaded"><ion-spinner name="crescent"></ion-spinner></div>
      <ion-grid *ngIf="writings$ | async as writings">
        <ion-row>
          <ion-col sizeXl="4" sizeLg="4" sizeMd="6" sizeSm="6" sizeXs="12" *ngFor="let item of writings.jkOriginals.slice(1)">
            <app-writing-card [writingData]="item"></app-writing-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>