<ion-content [fullscreen]="true">
  <div class="books-main">
    <ion-row>
      <ion-col size="4" class="books-main-content" offset="4">
        <div>
          <h1>J.K. Rowling Originals</h1>
          <p>Explore the inner workings of the wizarding world with a collection of writing from J.K. Rowling</p>
        </div>
      </ion-col>
    </ion-row>  
  </div>
  <div class="books">
    <div class="books-hp">
      <ion-row>
        <ion-col size="6" offset="3">
          <div class="books-hp-header">
            <div class="books-hp-header-design">
              <hr>
              <div class="auth-diamond"></div>
              <hr>
            </div>
            <h1 class="books-hp-title">Latest & greatest</h1>
            <div class="books-hp-header-design">
              <hr>
              <div class="auth-diamond"></div>
              <hr>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-grid *ngIf="writings$ | async as writings">
        <ion-row >
          <ion-col sizeXl="4" sizeLg="4" sizeMd="6" sizeSm="6" sizeXs="12" *ngFor="let item of writings">
            <app-writing-card [writingData]="item"></app-writing-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>