<div class="footer-root">
  <div class="footer-root-inner">
    <div class="footer-con">
      <div class="footer-con-upper">
        <ion-grid>
          <ion-row>
            <ion-col sizeXl="4" sizeMd="6" sizeSm="6" sizeXs="6">
              <a href="/about">About Us</a>
            </ion-col>
            <ion-col sizeXl="4" sizeMd="6" sizeSm="6" sizeXs="6">
              <a href="/contact">Contact</a>
            </ion-col>
            <ion-col sizeXl="4" sizeMd="6" sizeSm="6" sizeXs="6">
              <a href="/privacy-policy">Privacy Policy</a>
            </ion-col>
            <ion-col sizeXl="4" sizeMd="6" sizeSm="6" sizeXs="6">
              <a href="/terms-of-service">Terms of Service</a>
            </ion-col>
            <ion-col sizeXl="4" sizeMd="6" sizeSm="6" sizeXs="6">
              <a href="/faq">FAQ</a>
            </ion-col>
            <ion-col sizeXl="4" sizeMd="6" sizeSm="6" sizeXs="6">
              <a href="/support">Support</a>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <a href="/menu/home">
                <img class="footer-logo" src="../../../assets/logo.svg" alt="Logo">
              </a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</div>
