ion-menu {
    ion-content {
        --background: #10141b;
        /* Changes the background color of the menu */
        ion-menu-toggle {
            --background: #10141b;

            ion-item {
                --background: #10141b;

            }
        }

    }

}
.root{
    padding: 15px 20px;
    background: url('../../../assets/signup_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.close-icon{
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
}
.menu-container{
    padding: 0px 20px;
}

.menu-item{
    margin: 30px 0px;
    font-size: 1.2rem;
    font-weight: bold;
}