<ion-content [fullscreen]="true">
  <div class="root">
    <div class="root-bg"></div>
    <div class="root-container">
      <div class="profile">
        <div class="profile-inner">
          <picture class="profile-picture">
            <img src="../../../assets/profile.jpg" alt="">
          </picture>
          <div class="profile-details">
            <h1 class="profile-name">Syed Khasim</h1>
            <div class="profile-panel">
              <div class="profile-panel-feature">
                <picture>
                  <img src="../../../assets/profile/download.svg" alt="">
                </picture>
                <p>HOUSE</p>
                <p>Gryffindor</p>
              </div>
              <div class="profile-panel-feature">
                <picture>
                  <img src="../../../assets/profile/download.svg" alt="">
                </picture>
                <p>HOUSE</p>
                <p>Gryffindor</p>
              </div>
              <div class="profile-panel-feature">
                <picture>
                  <img src="../../../assets/profile/download.svg" alt="">
                </picture>
                <p>HOUSE</p>
                <p>Gryffindor</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="settings">
        <div class="close-icon">
          <ion-icon routerLink="/menu/profile" name="close"></ion-icon>
        </div>
        <h1>Account Settings</h1>
        <div class="settings-header">
          <div *ngIf="userDetails?.lastName && userDetails?.lastName" class="settings-con-box">
            <small>Name</small>
            <p>{{userDetails.firstName}} {{userDetails.lastName}}</p>
          </div>
          <div *ngIf="userDetails?.email" class="settings-con-box">
            <small>Email</small>
            <p>{{userDetails.email}}</p>
          </div>
          <div *ngIf="userDetails?.house" class="settings-con-box">
            <small>House</small>
            <p>{{userDetails.house}}</p>
          </div>
          <div *ngIf="userDetails?.wand" class="settings-con-box">
            <small>Wand</small>
            <p>{{userDetails.wand}}</p>
          </div>
        </div>
        <hr>
        <div class="settings-footer">
          <h1>Support</h1>
          <a href="">FAQ</a>
        </div>
      </div>
    </div>
  </div>
</ion-content>
