<ion-content [fullscreen]="true">
  <div class="root">
    <div class="setting-icon">
      <ion-icon routerLink="/menu/profile/settings" name="settings"></ion-icon>
    </div>
    <div class="root-bg"></div>
    <div class="root-container">
      <div class="profile">
        <div class="profile-inner">
          <picture class="profile-picture">
            <img src="../../../assets/profile.jpg" alt="">
          </picture>
          <div class="profile-details">
            <h1 class="profile-name">Syed Khasim</h1>
            <div class="profile-panel">
              <div class="profile-panel-feature">
                <picture>
                  <img src="../../../assets/profile/download.svg" alt="">
                </picture>
                <p>HOUSE</p>
                <p>Gryffindor</p>
              </div>
              <div class="profile-panel-feature">
                <picture>
                  <img src="../../../assets/profile/download.svg" alt="">
                </picture>
                <p>HOUSE</p>
                <p>Gryffindor</p>
              </div>
              <div class="profile-panel-feature">
                <picture>
                  <img src="../../../assets/profile/download.svg" alt="">
                </picture>
                <p>HOUSE</p>
                <p>Gryffindor</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="things-todo">
          Things to do
          <a class="things-todo-box">
            <p>Find our secret words and unlock exclusive Portrait Maker Goodies</p>
          </a>
          <a class="things-todo-box">
            <p>Find our secret words and unlock exclusive Portrait Maker Goodies</p>
          </a>
          <a class="things-todo-box">
            <p>Find our secret words and unlock exclusive Portrait Maker Goodies</p>
          </a>
          <a class="things-todo-box">
            <p>Find our secret words and unlock exclusive Portrait Maker Goodies</p>
          </a>
        </div>
        <div class="starter-pack">
          <ion-row>
            <ion-col sizeMd="12" sizeLg="6" sizeSm="12" sizeXs="12">
              <a class="things-todo-box">
                <p>Which Gryffindor are you most like</p>
              </a>
            </ion-col>
            <ion-col sizeMd="12" sizeLg="6" sizeSm="12" sizeXs="12">
              <a class="things-todo-box">
                <p>Which Gryffindor are you most like</p>
              </a>
            </ion-col>
            <ion-col sizeMd="12" sizeLg="6" sizeSm="12" sizeXs="12">
              <a class="things-todo-box">
                <p>Which Gryffindor are you most like</p>
              </a>
            </ion-col>
            <ion-col sizeMd="12" sizeLg="6" sizeSm="12" sizeXs="12">
              <a class="things-todo-box">
                <p>Which Gryffindor are you most like</p>
              </a>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </div>
</ion-content>
