<ion-content [fullscreen]="true">
  <div class="root">
    <div class="root-container">
      <div class="profile">
        <div class="profile-inner">
          <picture class="profile-picture">
            <img src="../../../assets/profile.jpg" alt="">
          </picture>
          <div class="profile-details">
            <h1 class="profile-name">{{userDetails?.firstName}} {{userDetails?.lastName}}</h1>
            <div class="profile-panel">
              <div class="profile-panel-feature">
                <picture>
                  <img [routerLink]="userDetails?.house ? [] : ['/sorting-hat']"  src="../../../assets/profile/download.svg" alt="">
                </picture>
                <p>HOUSE</p>
                <p>{{this.userDetails?.house}}</p>
              </div>
              <div class="profile-panel-feature">
                <picture>
                  <img src="../../../assets/profile/download.svg" alt="">
                </picture>
                <p>PATRONUS</p>
                <p>Pine Martin</p>
              </div>
              <div class="profile-panel-feature">
                <picture>
                  <img [routerLink]="userDetails?.wand ? [] : ['/wand']" src="../../../assets/profile/download.svg" alt="">
                </picture>
                <p>WAND</p>
                <p>{{this.userDetails?.wand}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ion-content>