.root {
    height: 100vh;
    overflow: hidden;
    background-image: url('https://www.wizardingworld.com/images/pages/profile/house-backgrounds/gryffindor-background-2200.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    font-family: "Lexend", sans-serif;

    &-container {
      display: flex;
      height: 100%;
      position: relative; // Add this line to position the background absolutely within this container
    }
  }

.profile {
    flex-basis: 35%;
    padding: 40px;
    text-align: center;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 40px;
        right: 0;
        width: 0.1px;
        height: 100%;
        background-color: #dddddd4a;
    }

    &-picture {
        img {
            height: 400px;
            width: 400px;
        }
    }

    &-name {
        margin: 20px 0px;
    }

    &-panel {
        display: flex;
        justify-content: center;
        gap: 30px;
        text-align: center;

        &-feature{
            img{
                cursor: pointer;
            }
        }
    }
}

.content {
    flex-basis: 65%;
    overflow-y: auto;
    scrollbar-width: none;
    position: relative;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}


@media (max-width: 900px) {

    .root{
        height: fit-content;
    }

    .profile{
        padding-top: 10px;
    }
    .root-container{
        display: flex;
        flex-direction: column;
    }

    .profile-picture {
        img {
            height: 300px;
            width: 300px;
        }
    }
    .content {
        width: 100%;
        overflow-y:scroll
    }
   
}