ion-content{
    --ion-background-color: rgba(16,20,27,255);
    font-family: "Lexend", sans-serif;
}
.loader {
    margin: auto;
    color: white;
    display: flex;
    justify-content: center;
    margin: 100px 0px;
    z-index: 9999; /* Ensure it's on top of other content */
    ion-spinner{
        height: 50px;
        width: 50px;
    }
}

.books-main {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(to bottom, rgba(224, 224, 224, 0), #10141bbb), url('../../../assets/bg-images/books-desk-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;

    &-content {
        width: 100%;
        text-align: center;
        max-width: 700px;
        padding: 10px 20px;

        p {
            font-size: 1rem;
            line-height: 2rem;
        }

        h1 {
            font-size: 3rem;
            font-family: "Merriweather", serif;
            font-weight: bold;
            font-style: normal;
        }
    }
}


.books-hp{
        
    &-title{
        font-size: 32px;
        font-weight: 600;
        margin: 40px 0px;
    }
    &-header{
        text-align: center;
        &-design{
            display: flex;
            justify-content: center;
            align-items: center; 
        }        
        hr {
            flex: 1 1;
            height: 1px;
            background-color: #75757541;
            overflow: hidden;
            margin: 10px 0px;
        } 
    }
}  

.auth-diamond{
    height: 16px;
    width: 32px;
    background-image: url(https://www.wizardingworld.com/images/icons/diamonds.svg);
    color: red;
    margin: 0 10px;
}

ion-grid {
    max-width: 1200px;
    ion-row {
      display: flex;
      justify-content: center;
    }
    ion-col {
      display: flex;
      justify-content: center;
    }
}

@media (max-width: 768px) {

    .books-main {
        width: 100%;
        background-image: linear-gradient(to bottom, rgba(224, 224, 224, 0), #10141bbb), url('../../../assets/bg-images/books-desk-bg.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 80vh;
        &-content {
            width: 100%;
            text-align: center;
            max-width: 700px;

            p {
                font-size: .8rem;
                line-height: 1.5rem;
            }

            h1 {
                font-size: 2rem;
            }
        }
    }
}