<ion-content class="fact-file">
  <div class="fact-file-container">
    <div class="fact-file-header">
      <div class="fact-file-header-bg"></div>
      <div class="fact-file-header-container">
        <div class="fact-file-header-container-inner">
          <input type="text" class="fact-file-header-input" [(ngModel)]="searchTerm" placeholder="Search fact files...">
          <button (click)="loadFactFiles()" class="fact-file-header-search-btn">
            <img src="../../../assets/fact-files/search.svg" alt="search icon">
          </button>
        </div>
      </div>
    </div>

    <div class="fact-file-content-container">
      <a href="/menu/fact-files/-O3YQOynb5hpEuaeTEB7" class="featured-anchor-file">
        <div class="featured-anchor-file-root">
          <div class="featured-badge">
            <div class="featured-badge-frame"></div>
            <picture><img class="featured-badge-image" src="../../../assets/fact-files/category-icon-characters-and-pets-desktop.svg" alt=""></picture>
            <div class="featured-badge-content">CHARACTERS & PETS</div>
          </div>
          <div class="featured-image-container">
            <img src="../../../assets/bg-images/malfoy-img.webp" alt="">
          </div>
          <div class="featured-content">
            <div>FEATURED FACT FILE</div>
            <h3>Draco Malfoy</h3>
            <div class="featured-content-inner">
              A Slytherin pupil who had a strong rivalry with Harry Potter and a family loyal to Lord Voldemort, from the moment Draco and Harry met in Madam Malkin’s Robes for All Occasions the two didn’t see eye to eye. Harry rejected Draco’s...
            </div>
            <p class="featured-content-span">READ MORE</p>
          </div>
          
        </div>
      </a>
      <div class="fact-file-divider"></div>
      <div class="fact-file-filter-container" *ngIf="factFilter$ | async as factFilter">
        <div *ngFor="let filter of factFilter" (click)="getFactFilesByCategory(filter.data.filter)"  class="filter-box">
           <div class="filter-box-con" [ngStyle]="category===filter.data.filter ? {'border':'2px solid #ffffffde'}: {'border-color': filter.data.color}">
              <div class="filter-box-inner ">
                <div class="filter-box-badge"></div>
                <img class="filter-icon" src="../../../assets/fact-files/{{filter.data.filter_img}}" alt="">
                <p [ngStyle]="{'color': filter.data.color}">{{filter.data.name| uppercase}}</p>
            </div>
           </div>
        </div>
      </div>
      <ion-grid  class="fact-items-grid" *ngIf="factFiles$ | async as factFiles">
        <ion-row>
          <ion-col *ngFor="let factFile of factFiles" sizeXl="3" sizeLg="3" sizeMd="4" sizeSm="6" sizeXs="6">
            <app-fact-card [factFile]="factFile"></app-fact-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="load-more" >
        <ion-button fill="outline" (click)="loadMore()">Load fact</ion-button>
      </div>
       <!-- Infinite Scroll -->
       <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more fact files...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll> -->
    </div>
  </div>
</ion-content>
