<ion-content>
  <div class="feature-root">
    <div class="feature-bg"></div>
    <div class="feature-search">
      <input type="text" class="feature-search-input" [(ngModel)]="searchTerm" placeholder="Search fact files...">
      <button (click)="onSearch()"  class="feature-search-btn">
        <img src="../../../assets/fact-files/search.svg" alt="search icon">
      </button>
    </div>
    <div class="feature" *ngIf="factFile">
      <div class="feature-header">
        <h3>{{factFile.data.name}}</h3>
        <div class="featured-badge">
          <div class="featured-badge-frame"></div>
          <picture><img class="featured-badge-image" src="../../../assets/fact-files/category-icon-characters-and-pets-desktop.svg" alt=""></picture>
          <div class="featured-badge-content">{{factFile.data.category}}</div>
        </div>
      </div>
      <div class="feature-content">
        <div class="feature-content-main">
          <div class="feature-img-con" *ngIf="factFile.data.urlImage != ''">
            <img class="feature-img" [src]="factFile.data.urlImage" alt="">
          </div>
          <div class="feature-title">{{factFile.data.name}}</div>
          <div class="feature-description">{{factFile.data.description}}</div>
        </div>
        <div *ngIf="factFile.data.sidenav" class="feature-content-sidebar">
          <div class="feature-content-sidebar-border"><img
              src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgOSA5IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTguNjQ0MDMgNC44MDc2N0w1LjgyNTE4IDMuNjQxMjlMNC44MDcyNCAwLjcyNTE4NUwzLjY0MDc0IDMuNjQxMjlMMC43MjQ3OTcgNC41NjE4NkwzLjY0MDc0IDUuODI1NzNMNC41NjE1OSA4LjY0NDM0TDUuODI1MTggNS44MjU3M0w4LjY0NDAzIDQuODA3NjdaIiBmaWxsPSIjOTk5MEVBIi8+Cjwvc3ZnPgo="
              alt="star">
            <hr>
            <img
              src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgOSA5IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTguNjQ0MDMgNC44MDc2N0w1LjgyNTE4IDMuNjQxMjlMNC44MDcyNCAwLjcyNTE4NUwzLjY0MDc0IDMuNjQxMjlMMC43MjQ3OTcgNC41NjE4NkwzLjY0MDc0IDUuODI1NzNMNC41NjE1OSA4LjY0NDM0TDUuODI1MTggNS44MjU3M0w4LjY0NDAzIDQuODA3NjdaIiBmaWxsPSIjOTk5MEVBIi8+Cjwvc3ZnPgo="
              alt="star">
          </div>
          <div class="feature-content-sidebar-inner">
            <div class="sidebar-item" *ngFor="let sideNav of factFile.data.sidenav">
              <h3 class="sidebar-title">{{sideNav.title | uppercase}}</h3>
              <div>
                <p *ngFor="let appearance of sideNav.values">{{appearance}}</p>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="no-data" *ngIf="factFile==null">
      <div class="edge-line">
        <hr>
        <img  class="book-icon" src="../../../../assets/fact-files/book-icon.svg" alt="">
        <hr>
      </div>
      <h1 class="no-data-title">Opps!! no search result found</h1>
      <div class="edge-line">
        <hr>
        <img  class="book-icon" src="../../../../assets/fact-files/book-icon.svg" alt="">
        <hr>
      </div>
    </div>
  </div>
</ion-content>