.root{
  background-color: rgb(16, 20, 27);
  font-family: "Lexend", sans-serif;
}

.hero {

  background: url('../../../assets/home-bg/hp-f6-harry-hermione-library-homepage-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 550px;
  margin: 0px;
  border: 0.1px solid rgba(255, 255, 255, 0);
  animation: hero-animation 2.5s;
  ::after {
    content: "";
    background: linear-gradient(1turn, #07001449 40%, rgba(21, 17, 29, 0));
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
  }

  &-inner {
    max-width: 1200px;
    margin: auto;
    padding: 100px 25px;
    text-align: center;
  }

  &-title {
    font-family: "Merriweather", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
    width: 50%;
    margin: 20px auto;
  }

  &-desc {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 22px;
    width: 50%;
    margin: auto;
  }

  &-button {
    margin: 30px 0px;
    padding: 2px 4px;
    color: #fff;
    background: #443e87;
    border: 1px solid white;
    background: transparent;
    padding: 16px 48px 18px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      background-color: #443e87;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
  }
}

@keyframes hero-animation {
  from{
    width: 0%;
    left: 50%;
    opacity: 0;
  }
  to{
    width: 100%;
    left: 0%;
    opacity: 1;

  }
}

.hero-mobile-bg {
  display: none;
  width: fit-content;
  position: relative;
}

.feature-cards {
  margin: 0px;
  background-image:
    url('../../../assets/home-bg/horizons_train.png'),
    url('../../../assets/home-bg/stars.png'),
    linear-gradient(180deg, #120b0e, #474083 121.35%);

  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 2000px, 2000px, 100% 100%;
  background-position: bottom center, top center, center center;
  color: rgb(255, 255, 255);
  position: relative;
  padding: 50px 0px;

  &-inner {
    margin: auto;
    height: 550px;
    max-width: 1200px;
  }

  h1 {
    margin: 30px 0px;
  }


}


.feature-swiper {
  &-root {
    border: 0.1px solid rgba(255, 255, 255, 0);
    margin: 0px;
    background-image:
      url('../../../assets/home-bg/horizons_burrow.png'),
      url('../../../assets/home-bg/stars.png'),
      linear-gradient(180deg, #0f0f11, #3f5468 121.35%);

    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 2000px, 2000px, 100% 100%;
    background-position: bottom center, top center, center center;
    width: 100%;
    position: relative;
    color: rgb(255, 255, 255);
    padding: 50px 0px
  }

  &-inner {
    margin: auto;
    height: 550px;
    max-width: 1200px;

    h1 {
      margin: 0px;
    }
  }

}

.fact-swiper {

  &-root {
    padding: 100px 0px;
    border-top: 1px solid #15111d;
    margin: 0px;
    background-image: url('../../../assets/home-bg/stars.png'), linear-gradient(180deg, #15111d, #323657 121.35%);
    background-position: top center, center center;
    background-size: 2000px, 100% 100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  &-inner {
    margin: auto;
    height: 500px;
    max-width: 1200px;
    h1 {
      margin: 0px;
    }
  }

}

.feature-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-title, .fact-title {
  color: rgb(210, 170, 107);
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}

ion-col{
  cursor: pointer;
}

ion-card {
  background-color: black;
  font-family: "Lexend", sans-serif;
}

ion-card-content {
  color: white;
}

ion-card-title {
  color: #ecbf77;
  ;
}

swiper-container {
  display: flex;
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  cursor: pointer;
  display: block;
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 350px;
  max-height: 100%;
}

@media (max-width: 768px) {

  .hero {
    background: none;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 1000px;
    background-position: bottom center, top center, center center;
    width: 100%;
    height: fit-content;
    animation: none;
    ::after {
      display: none;
    }

    &-inner {
      max-width: 1200px;
      margin: auto;
      padding: 0px 10px;
      text-align: center;
      line-height: 22px;
    }

    &-title {
      font-size: 30px;
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
    }

    &-desc {
      font-size: 16px;
      width: 100%;
      text-align: center;
      margin: auto;
    }

    &-button {
      background-color: #443e87;
    }
  }

  .hero-mobile-bg {
    display: block;
    position: relative;
  }

}

@media (max-width: 1200px) {

  .feature-cards {
    background-image:
      url('../../../assets/home-bg/horizons_mobile_train.png'),
      url('../../../assets/home-bg/stars.png'),
      linear-gradient(180deg, #120b0e, #474083 121.35%);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100%, 100%, 100% 100%;
    background-position: bottom center, top center, center center;
    padding: 20px 5px 50px 5px;

    &-inner {
      text-align: center;
      margin: auto;
      height: fit-content;
      max-width: 1200px;
    }

    h1 {
      margin: 15px 0px;
      font-size: 24px;
    }

    &-img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .feature-swiper {
    &-root {
      border: 0.1px solid rgba(255, 255, 255, 0);
      margin: 0px;
      background-image:
        url('../../../assets/home-bg/horizons_mobile_burrow.png'),
        url('../../../assets/home-bg/stars.png'),
        linear-gradient(180deg, #0f0f11, #3f5468 121.35%);
  
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-size: 100%, 100%, 100% 100%;
      background-position: bottom center, top center, center center;
      width: 100%;
      position: relative;
      color: rgb(255, 255, 255);
      padding: 50px 0px
    }
  
    &-inner {
      margin: auto;
      height: fit-content;
      max-width: 1200px;
      text-align: center;
      h1 {
        margin: 25px 0px;
        font-size: 24px;
      }
    }

  }
  
  .fact-swiper {
  
    &-root {
      padding: 100px 0px;
      border-top: 1px solid #15111d;
      margin: 0px;
      background-image: url('../../../assets/home-bg/stars.png'), linear-gradient(180deg, #15111d, #323657 121.35%);
      background-position: top center, center center;
      background-size: 2000px, 100% 100%;
      width: 100%;
      position: relative;
      z-index: 1;
    }
  
    &-inner {
      margin: auto;
      height: fit-content;
      max-width: 1200px;
      text-align: center;

      h1 {
        margin: 25px 0px;
        font-size: 24px;
      }
    }
  
  }
}