.root{
    font-family: "Lexend", sans-serif;
}
.bg-img{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}
.nav{
    background-color: transparent;
    padding: 20px 10px;
    z-index: 100;
    position: relative;
    
    &-center{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-logo{
        // border-radius: 50%;
        height: 60px;
        width: fit-content;
        cursor: pointer;;
    }
}

.question-content {
    padding: 0px 0px 40px 0px;
    swiper-container {
        max-width: 600px;
        height: auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: transparent;
        background-size: cover;

        swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            .option-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: fit-content;
                text-align: center;

                .image-container {
                    width: 300px;
                    height: 400px;
                    position: relative;
                    z-index: 1;
                    // background-color: #366369;
                    // background-color: #c79552;
                    background: transparent;
                    text-align: center;

                    .image-container-frame {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        z-index: 10;
                        /* Ensure this is on top */
                        background-size: cover;
                        background-position: center;
                    }

                    img {
                        height: 100%;
                        width: 100%;
                        margin: auto;
                        z-index: 100;
                        position: relative;
                    }

                }

                p {
                    color: white;
                    line-height: 2rem;
                    margin: 20px 20px 40px 20px;
                    z-index: 10;
                    /* Lower than the frame */
                }

                button {
                    color: #fff;
                    background: transparent;
                    padding: 16px 100px;
                    font-size: 14px;
                    line-height: 14px;
                    border-radius: 30px;
                    font-weight: bold;
                    text-decoration: none;
                    border: 1px solid white;
                    margin: 10px 0px;
                }
            }
        }
    }
}

.question {
    font-size: 1.2rem;
    text-align: center;
    line-height: 2rem;
    margin: 40px;
}


@media (max-width: 768px) {
    .question-content {
        swiper-container {
            width: 350px;;
            height: auto;
            background-repeat: no-repeat;
            background-position: center center;
            background-color: transparent;
            background-size: cover;

            swiper-slide {

                .option-container {

                    .image-container {
                        width: 250px;
                        height: 350px
                    }
                }
            }
        }
    }
}