<div class="root">
  <div class="root-container">
    <div class="settings">
      <div class="close-icon">
        <ion-icon routerLink="/profile" name="close"></ion-icon>
      </div>
      <h1>Account Settings</h1>
      <div class="settings-header">
        <!-- Name Edit Section -->
        <div *ngIf="!isEditing" class="settings-con-box">
          <small>Name</small>
          <p>{{userDetails.firstName}} {{userDetails.lastName}}</p>
          <ion-icon class="edit" (click)="editField('name')" name="create-outline"></ion-icon>
        </div>
        <div *ngIf="isEditing && editingField === 'name'">
          <div class="settings-con-box">
            <small>First Name: </small>
            <input [(ngModel)]="editableDetails.firstName" type="text">
          </div>
          <div class="settings-con-box">
            <small>Last Name: </small>
            <input [(ngModel)]="editableDetails.lastName" type="text">
          </div>

          <div>
            <button class="save" (click)="saveChanges()">Save</button>
            <button class="cancel" (click)="cancelEdit()">Cancel</button>
          </div>
        </div>

        <!-- Email Section (Non-editable) -->
        <div *ngIf="userDetails?.email" class="settings-con-box">
          <small>Email</small>
          <p>{{userDetails.email}}</p>
        </div>

        <!-- DOB Edit Section -->
        <div *ngIf="!isEditing" class="settings-con-box">
          <small>Dob</small>
          <p>{{userDetails.dob}}</p>
          <ion-icon class="edit" (click)="editField('dob')" name="create-outline"></ion-icon>
        </div>
        <div *ngIf="isEditing && editingField === 'dob'">
          <div  class="settings-con-box">
            <small>Dob: </small>
            <input [(ngModel)]="editableDetails.dob" type="date">
          </div>
          <div>
            <button class="save" (click)="saveChanges()">save</button>
            <button class="cancel" (click)="cancelEdit()">cancel</button>
          </div>
        </div>

        <!-- Other fields (Non-editable) -->
        <div *ngIf="userDetails?.house" class="settings-con-box">
          <small>House</small>
          <p>{{userDetails.house}}</p>
        </div>
        <div *ngIf="userDetails?.wand" class="settings-con-box">
          <small>Wand</small>
          <p>{{userDetails.wand}}</p>
        </div>
      </div>
      <hr>
      <div class="settings-footer">
        <h1>Support</h1>
        <a href="">FAQ</a>
      </div>
    </div>
  </div>
</div>